<div class="comment_form_container">
	<%= form_for([@event, @event.comments.new],
	  :html => {:style => 'display: none;'}) do |f| %> 
		<div class="comment_field_container">
		  <%= f.text_area(:body, :rows => 1, :cols => 50) %> 
		</div>
	<% end %>
</div>