<%-# TODO why is this not in /going_tos/show.html.erb? %>
<div class="attendee">
	<div class="pic">	
	</div>
	<div class="username">
		<%= link_to going_to.find_user.username, going_to.find_user %>
	</div>
</div>