<div id="follow">
	<a href="<%= following_user_path(@user) %>" class="following_link">
		<span class="following">
			followers <%= @user.following.count %>
		</span>
	</a>
	<a href="<%= followers_user_path(@user) %>" class="followers_link">
		<span class="followers">
			following <%= @user.followers.count %>
		</span>
	</a>
</div>