<div class="following_and_followers">
	<%= link_to "following #{@user.following.count}", following_user_path(@user, :format => :js),
			:remote => true,
			:class => "following_link" %>
	<%= link_to "followers #{@user.followers.count}", followers_user_path(@user, :format => :js), 
			:remote => true,
			:class => "followers_link"
			%>
</div>