<div id="signup_message" class="">
	<div class="message_body">
		<div class="site_name"><%= SiteSettings::NAME %>&nbsp;</div>
		<div class="">is more than an event site. it's a site about finding things to do, and sharing what you're doing with friends</div>
	</div>
	<div class="signup_button_container">
		<div class="signup_button">sign up!</div>
	</div>
</div>