<%# called like this render 'shared/time_select', :locals => { :prepend_id => 'starttime'} to insure that the id's are unique for post vars%>
<div id="<%= prepend_id %>_select_container" class="time_select_container">
	<select name="<%= prepend_id %>_hour">
		<option value="1">
			1
		</option>
		<option value="2">
			2
		</option>
		<option value="3">
			3
		</option>
		<option value="4">
			4
		</option>
		<option value="5">
			5
		</option>
		<option value="6">
			6
		</option>
		<option value="7">
			7
		</option>
		<option value="8">
			8
		</option>
		<option value="9">
			9
		</option>
		<option value="10">
			10
		</option>
		<option value="11">
			11
		</option>
		<option value="12">
			12
		</option>
	</select> 
	<div class="colon_separator">:</div> 
	<select name="<%= prepend_id %>_minute">
		<option value="5">
			00
		</option>
		<option value="5">
			05
		</option>
		<option value="10">
			10
		</option>
		<option value="15">
			15
		</option>
		<option value="20">
			20
		</option>
		<option value="25">
			25
		</option>
		<option value="30">
			30
		</option>
		<option value="35">
			35
		</option>
		<option value="40">
			40
		</option>
		<option value="45">
			45
		</option>
		<option value="50">
			50
		</option>
		<option value="55">
			55
		</option>
		</select> 
	<select name="<%= prepend_id %>_ampm">
		<option value="0">
			AM
		</option>
		<option selected="selected" value="1">
			PM
		</option>
	</select>
</div>
