<%= javascript_include_tag 'jquery-ui-timepicker-addon.js'%>
<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.17.custom.css'%>
<%= stylesheet_link_tag 'events/new-event.css'%>

<h1>Create your event</h1>
<div class="error">
	<span></span>
</div>
<%= render 'form' %>
