<div class="title">get tickets for <%= @event.name %></div>
<div class="tickets_body">
	<!-- TODO find a way to link to tickets -->
	<%= link_to "here are the tickets", "http://www.tickets.com/faketickets" %>
</div>