@import 'colors';
@import 'layout';

.event {
	float:left;
	// to show the shadow hack
	margin-left: 3px;
	/* border:1px solid black; */
	margin-right:10px;
	z-index: 2;
	
	@include box_shadow;
	
	.event_contents {
		background-color:$event_background_color;
		padding:7px;
		float:left;
		
		.avatar {
			float: left;
		}
		
		.event_body {
			
			.event_title {
				float: left;
				font-size: 14px;
				font-weight: bold;
				color: $event_title_text_color;
				width: 100%;
				&:hover {
					color: $event_title_text_hover_color;
				}
			}
			
			.place_name {
				color: $event_place_name_text_color;
				float: left;
				//font-style: italic;
				font-weight: bold;
				float:left;
				margin-top:2px;
				width: 100%;
			}
			
			.when {
				color: $event_place_name_text_color;
				float: left;
				//font-weight: bold;
				float:left;
				margin-top:3px;
				//width: 100%;
			}

			.event_description {
				font-size:12px;
				margin-top: 3px;
				padding-bottom:2px;
				float:left;
				width: 100%;
			}
			
			.posted_by {
				margin-top:4px;
				font-size:11px;
				color:#333333;
				//width:100%;
				float:left;
			}
		}
	}
	
	.event_actions_bar {
		padding-left:5px;
		padding-right:5px;
		padding-bottom:3px;
		background-color:#FFFFFF;
		float:left;
		
		.public_actions {
			float:left;
			
			.pipe_separator {
				color:#CCCCCC;
			}
		}
		
		a {
			font-size:12px;
		}
		
		.current_user_actions {
			font-size:12px;
			float:right;
		}
		
	}
	
}