/* specific to events found in /events or in the index list format */

/* hide addresses to make a more list friendly compact style */

@import 'layout';
@import 'colors';

.section {
	background-color: #FFFFFF;//lighten($event_background_color, 2%);
	margin-top:10px;
	float:left;
	//margin-left: 3px;
	padding-left: 3px;
	.section_title {
		width: $header_content_container_width - (7 * 2);
		height: 20px;
		padding: 7px;
		.day {
			float: left;
			width: 50%;
		}
		.browse_all {
			float: right;
			//width: 50%;
			padding-right: 7px;
		}
	}
}

.event {
	width: $event_width;
	margin-bottom: 15px;
	
	.event_contents {
		width: 474px;
		.avatar {
			width:50px;
			height:50px;
		}

		.event_body {
			margin-left:7px;
			float: left;
			width: 417px;
			
			.place_name {
				font-size: 11px;
			}
			
			.when {
				font-size: 11px;
				//margin-top:;
			}

			.place_address {
				display:none;
			}

			.event_description {
				width: 405px;
			}

			.posted_by {
				//width: 405px;
			}
		}
	}
	
	.event_actions_bar {
		width: 477px;
	}
}

.col2 {
	.user_location_map {
		width:500px;
		height:500px;
		.user_location_actions {
			height: 41px;
			width: 500px;
			.search_city {
				display: none;
				padding-top: 0px;
			}

			.title {
				float: left;
				width: 480px;
				.incorrect_city {
					margin-left: 20px;
					font-size: 12px;
				}
			}
		}
		
		#map_canvas_container {
			height:480px;
			width:480px;
		}
	}
}


.column {
	
	float:left;
	width:492px;
	margin-right: 10px;
}
