/* specific to events found in /events or in the index list format */

/* hide addresses to make a more list friendly compact style */

.column {
	
	float:left;
	width:500px;
}

.full_address {
	display:none;
}

.col2 {
	.user_location_map {
		width:500px;
		height:500px;
		
		#map_canvas_container {
			height:480px;
			width:480px;
		}
	}
}

