/* specific to events found in /events or in the index list format */

/* hide addresses to make a more list friendly compact style */

.column {
	
	float:left;
	width:500px;
}

.full_address {
	display:none;
}

