@import 'colors';

.event {
	float:left;
	// to show the shadow hack
	margin-left: 3px;
	/* border:1px solid black; */
	margin-right:10px;
	z-index: 2;
	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	
	.event_contents {
		background-color:$event_background_color;
		//width:476px;
		padding:7px;
		float:left;
		//-moz-border-top-left-radius: 5px;
		//border-top-left-radius: 5px;
		//-moz-border-top-right-radius: 5px;
		//border-top-right-radius: 5px;
		
		.avatar {
			float: left;
		}
		
		.event_body {
			
			.event_title {
				float: left;
				font-size: 14px;
				font-weight: bold;
				color: $event_title_text_color;
				
				&:hover {
					color: $event_title_text_hover_color;
				}
			}
			
			.place_name {
				color: $event_place_name_text_color;
				float: left;
				font-style: italic;
				font-size: 11px;
				float:left;
				margin-left: 5px;
				margin-top:1px;
			}

			.event_description {
				font-size:12px;
				margin-top: 3px;
				padding-bottom:2px;
				float:left;
			}
			
			.posted_by {
				margin-top:4px;
				font-size:11px;
				color:#333333;
				width:490px;
				float:left;
			}
		}
	}
	
	.event_actions_bar {
		padding-left:5px;
		padding-right:5px;
		padding-bottom:3px;
		background-color:#FFFFFF;
		float:left;
		
		.public_actions {
			float:left;
			
			.pipe_separator {
				color:#CCCCCC;
			}
		}
		
		a {
			font-size:12px;
		}
		
		.current_user_actions {
			font-size:12px;
			float:right;
		}
		
	}
	
}