@import 'layout';
@import 'colors';

#new_event_container {

	padding: 15px;
	float: left;
	margin-bottom: 20px;
	margin-left: 5px;
	width:500px;
	@include box_shadow;
		
	#new_event {
		float: left;
		
		.date {
			label {
				width: 80px;
			}
			input {
				width: 70px;
			}
			
			.time {
				label {
					float: left;
					width: 50px;
					margin-left: 15px;
					margin-right: 5px;
				}
				.time_select_container {
					float: left;
					select {
						float: left;
						width: 45px;
					}
					.colon_separator {
						float: left;
					}
				}
			}
		}
		
		.full_address_container {
			.state_and_zip_container {
				.state_container {
					float:left;
					width:200px;
					
					label {
						width: 50px;
					}
					select {
						width: 60px;
					}
				}
				.zip_container {
					float: left;
					width: 200px;
					label {
						width: 35px;
					}
					input {
						width: 65px;
					}
				}
			}
		}
		
		.endtime_add {
			font-size: 11px;
			padding-bottom: 5px;
			padding-left: 4px;
		}
		
		label {
			width:135px;
			text-align: left;
			padding-left: 4px;
		}

		input {
			width:250px;
		}

		.row {
			margin-bottom:4px;
			background-color: $event_background_color;
			width: 100%;
			padding-top: 5px;
			padding-right: 5px;
			.time {
				float: left;
			}
		}

		.submit_container {
			float:left;
			font-size:11px;
			input {
				width:75px;
				float: right;	
			}
		}
	}
		
}
