.signup_container {
	width:400px;
	float:left;
}

.signup_container label {
	width:140px;
	padding-right:4px;
}

.signup_container input {
	
}

.signup_container .row {
	margin-bottom:4px;
}

.submit_container {
	float:right;
	font-size:11px;
}