.eventcontainer {
	
}

.eventcontainer {
	margin-bottom:10px;
	border:1px solid black;
}

.eventcontainer .eventcontents {
	background-color:#DFDFDF;
	padding:5px;
	float:left;
	width:490px;
}

.eventcontainer .event h3 {
	font-size:14px;
	line-height:15px;
	padding-bottom:2px;
}

.eventcontainer .eventdescription {
	font-size:12px;
	padding-bottom:2px;
}

.eventcontainer .event .postedby {
	font-size:11px;
	color:#333333;
}

.event .postedby .username {
	
}

.eventcontainer .eventactionsbar {
	padding-left:5px;
	background-color:#EFEFEF;
	width:480px;
	float:left;
}

.eventactionsbar .publicactions {
	float:left;
}

.eventactionsbar .likelink {
	font-size:12px;
}

.eventactionsbar .commentlink {
	font-size:12px;
}

.eventactionsbar .golink {
	font-size:12px;
}

.eventactionsbar .currentuseractions {
	font-size:12px;
	float:right;
}