.eventcontainer {
	float:left;
	margin-top:10px;
	/* border:1px solid black; */
	width:490px;
	margin-right:10px;
}

.eventcontainer .eventcontents {
	background-color:#DFDFDF;
	width:490px;
	padding:5px;
	float:left;
}

.eventcontainer .event h3 {
	font-size:14px;
	line-height:15px;
	padding-bottom:2px;
}

.eventcontainer .eventdescription {
	font-size:12px;
	padding-bottom:2px;
}

.eventcontainer .event .postedby {
	font-size:11px;
	color:#333333;
}

.event .postedby .username {
	
}

.eventcontainer .eventactionsbar {
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	background-color:#EFEFEF;
	width:490px;
	float:left;
}

.eventcontainer .eventactionsbar .publicactions .pipeseparator {
	color:#CCCCCC;
}

.eventactionsbar .publicactions {
	float:left;
}

.eventactionsbar a {
	font-size:12px;
}

.eventactionsbar .currentuseractions {
	font-size:12px;
	float:right;
}

/*
.eventactionsbar .likelink {
	font-size:12px;
}

.eventactionsbar .commentlink {
	font-size:12px;
}

.eventactionsbar .golink {
	font-size:12px;
}

.eventactionsbar .goinglink {
	font-size:12px;
}
*/
