//concise names like $header_bottom_border_color needed
//these are all the site wide colors to promote reusability

$main_site_color: #FFFFFF; //#E6F5FF;
$header_color: #EFEFEF;
$gray_text_color: #333333;
$label_background_color: #DFDFDF;

//event index events
$event_background_color: #EFEFEF;
$event_border_color: #CCCCCC;
$event_title_text_color: #211111;
$event_title_text_hover_color: #888888;
$event_place_name_text_color: #211111;
$event_place_name_text_hover_color: #888888;
$event_body_text_color: #CCCCCC;

//notice
$notice_color: #E6F5FF;

//input
$input_color: #FFFFFF;