//concise names like $header_bottom_border_color needed
//these are all the site wide colors to promote reusability

$main_site_color: #E6F5FF;
$header_color: #EFEFEF;
$gray_text_color: #333333;
$label_background_color: #DFDFDF;