
// box shadows
$box_shadow: 0 0 5px #888;


/*********** mixins *******************/

@mixin box_shadow () {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

@mixin rounded_corners($size: 5px) {
	-moz-border-radius: $size;
	border-radius: $size;
}

/************** header ******************/

$headerbar_height: 62px;

$header_content_container_width: 1005px;

//new event button
$new_event_button_width: 50px;

//user logged in menu
$user_logged_in_menu_dropdown_width: 150px;

/*************** event index event ************/

$event_width: 488px;
