/*
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 */


/* h1,h2,h3.... */

@import "layout";
@import "colors";

body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

body h1, .title {
	font-size:16px;
	color: $gray_text_color;
	margin-top:10px;
	margin-bottom:15px;
}

h3 {
	font-size:13px;
}

body {
	background-color: $main_site_color;
}

form label {
	float:left;
	//text-align:right;
	padding-top:2px;
	padding-right:5px;
	//background-color:$label_background_color;
	height:20px;
}


form input {
	float:left;
}


/* this will exclude all input submit buttons
 * but still style inputs, but only works for IE9 not previous
input:not([type=submit]):not([type=file]) {
   	background-color: $input_color;
	border: 1px solid #ccc;
	font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
	@include rounded_corners(5px);
	@include box_shadow;
}
*/

/* this will style the input buttons too, not desirable
input {
	background-color: $input_color;
	border: 1px solid #ccc;
	font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
	@include rounded_corners(5px);
	@include box_shadow;
}
*/ 

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password],
input[type=search] {
   /* And that ain't all of them... */
	background-color: $input_color;
	border: 1px solid #ccc;
	font-size: 20px;
   	padding: $input_padding;
   	outline: 0;
   	-webkit-appearance: none;
	@include rounded_corners(5px);
	margin: 0px;
	//@include box_shadow;
}

input {
	background-color: $input_color;
	border: 1px solid #ccc;
	font-size: 20px;
   	padding: $input_padding;
   	outline: 0;
}

input:focus {
	@include box_shadow($input_focus_color)
}

select {
	background-color: $input_color;
	border: 1px solid #ccc;
	font-size: 20px;
   	padding: $input_padding;
   	outline: 0;
	height: 34px;
}

/* popup notices across pages */
.notice {
	display:none;
	position:absolute;
	left:20px;
	top:60px;
	background-color: $notice_color;
	padding:7px;
	font-size:12px;
	@include rounded_corners(5px);
	@include box_shadow;
}

.hidden {
	display: none;
}

.vertical_divider {
	float:left;
}

form .row {
	float:left;
	padding-bottom:3px;
}





/* CONTENT */

#maincontainer {
	margin: 0 auto;
	width: $main_container_width;
	height: 100%;
	overflow:auto;
	//padding-left: 5px;
}

/* general links */

a {
	text-decoration: none;
}

a:hover {
	color: gray;
}

a:visited {
	
}
