/*
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 */


/* h1,h2,h3.... */

@import "colors";

body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

body h1, .title {
	font-size:16px;
	color: $gray_text_color;
	margin-top:10px;
	margin-bottom:10px;
}

h3 {
	font-size:13px;
}

body {
	background-color: $main_site_color;
}

form label {
	float:left;
	text-align:right;
	padding-top:2px;
	padding-right:5px;
	background-color:$label_background_color;
	height:20px;
}


form input {
	float:left;
}

input {
	background-color:#FFFFFF;
}

/* popup notices across pages */
.notice {
	display:none;
	position:absolute;
	left:20px;
	top:60px;
	background-color:#E6F5FF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:7px;
	font-size:12px;
}

.hidden {
	display:none;
}

.vertical_divider {
	float:left;
}

form .row {
	float:left;
	padding-bottom:3px;
}





/* CONTENT */

#maincontainer {
	margin: 0 auto;
	width: 1005px;
	height: 100%;
	overflow:auto;
}

/* general links */

a {
	text-decoration: none;
}

a:hover {
	color: gray;
}

a:visited {
	
}
