/* HEADER */

@import "colors";
@import "layout";

#header_bar {
	height: $headerbar_height;
	width:100%;
	background-color: $header_color;
	//border-bottom: 1px solid #000000;
	
	#header_content {
		width: $header_content_container_width;
		margin: 0 auto;
		
		#new_event_button_container {
			//width: 25%;
			float: left;
			#new_event_button {
				cursor: pointer;
				//position: absolute;
				//float: right;
				padding: 10px;
				//border: 1px solid black;
				width: 120px;
				height: 19px;
				margin-top: 10px;
				//display: block;	
				@include box_shadow; 
				a {
					color: $event_title_text_color;
					font-weight: bold;
					font-size: 14px;	
				}
			}
		}	
		
		#home_logo_container {
			//width: 25%;
			float: left;
			#home_logo {
				//margin-top:10px;
				a {
					//margin: 0px auto;
					//width: 100%;
					//position: center;
				}
			}
		}	
		
		#search_events {
			//width: 25%;
			float: left;
		}	
		
		a {
			//width: 25%;
			//float: left;
		}
			
			#loggedin_user_menu_container {
				width: 25%;
				float: left;
				
				.loggedin_user_menu {
					//width: 150px;
					margin-top: 7px;
					position: absolute;
					right: 205px;
					display: block;

					.user_button {
						@include box_shadow; 
						font-size: 14px;
						font-weight: bold;	
						background-color: $header_color;

						a {
							padding: 5px;
							display: block;
							color: $event_title_text_color;
							height: 30px;
							min-width: $user_logged_in_menu_dropdown_width;

							span {
								float: left;
								margin-top: 10px;
							}

							img {
								float: right;
							}

						}
					}

					//TODO add an arrow or something to connect to the user thingy
				 	ul {
						@include box_shadow; 
						z-index: 1000;
						display:none;
						margin-top: 10px;
						//padding-top: 10px;
						width: $user_logged_in_menu_dropdown_width;
						background-color: $header_color;

						li {
							a {
								display: block;
								padding: 3px;
								width: 100%;
								color: $event_title_text_color;
								&:hover { 
									//color: lighten($event_title_text_color, 20%);
									background-color: lighten($header_color, 20%);
								}
								span {
									width: 100%;
									//padding: 3px;
								}
							}
						}
					}
				} 
				
			}
		
		
		

		#login_group {
			float:right;
			margin-top:10px;
			//width:280px;
			
			form {

				.field_container {
					float:left;
					margin-right:10px;
					height:20px;
					width: 120px;
				}
				
				#username_container {
					margin-right: 10px;
				}
				
				#user_login_button {
					margin-top: 22px;
				}

				#password_container {
					
				}

			}	
		}
	}
}





#user_login_container {
	float:left;
}

#logoutgroup form {
	float:left;
}

