/* HEADER */

@import "colors";

#headerbar {
	height:62px;
	width:100%;
	background-color:$header_color;
	border-bottom:1px solid #000000;
	//position:fixed;
	z-index: 250;
	top:0;
	left:0;
	width: 100%;
	#headercontentcontainer {
		width:980px;
		margin: 0 auto;
		#homelogo {
			margin-top:10px;
			float:left;
		}
		
		.loggedin_user_menu {
			background-color: $header_color;
			width: 150px;
			float: right;
			margin-top: 5px;
			position: absolute;
			right: 175px;
			
			li {
				border:1px solid black;
			}
			ul ul {
				display:none;
			}
		}
		

		#logingroup {
			float:right;
			margin-top:10px;
			width:500px;
			
			#signin_container {
				float:left;
			}	
		}
		
		form {
			
			#usernamecontainer {
				float:left;
				margin-right:10px;
				height:20px;
			}
			
			#passwordcontainer {
				float:left;
				margin-right:10px;
				height:20px;
			}
			
		}
		
	}
}





#user_login_container {
	float:left;
}

#logoutgroup form {
	float:left;
}

