/* HEADER */

@import "colors";
@import "layout";

#headerbar {
	height:62px;
	width:100%;
	background-color:$header_color;
	border-bottom:1px solid #000000;
	//position:fixed;
	z-index: 250;
	top:0;
	left:0;
	width: 100%;
	#headercontentcontainer {
		width:980px;
		margin: 0 auto;
		#homelogo {
			margin-top:10px;
			float:left;
		}
		
		.loggedin_user_menu {
			//width: 150px;
			float: right;
			margin-top: 10px;
			position: absolute;
			right: 185px;
			display: block;
			
			.user_button {
				@include box_shadow; 
				font-size: 14px;
				font-weight: bold;	
				background-color: $header_color;
				
				a {
					padding: 5px;
					display: block;
					color: $event_title_text_color;
					height: 30px;
					min-width: $user_logged_in_menu_dropdown_width;
					
					span {
						float: left;
						margin-top: 10px;
					}
					
					img {
						float: right;
					}
					
				}
			}
			
			//TODO add an arrow or something to connect to the user thingy
		 	ul {
				@include box_shadow; 
				z-index: 1000;
				display:none;
				margin-top: 10px;
				//padding-top: 10px;
				width: $user_logged_in_menu_dropdown_width;
				background-color: $header_color;
				
				li {
					a {
						display: block;
						padding: 3px;
						width: 100%;
						color: $event_title_text_color;
						&:hover { 
							//color: lighten($event_title_text_color, 20%);
							background-color: lighten($header_color, 20%);
						}
						span {
							width: 100%;
							//padding: 3px;
						}
					}
				}
			}
		}
		

		#login_group {
			float:right;
			margin-top:10px;
			width:280px;
			
			form {

				.field_container {
					float:left;
					margin-right:10px;
					height:20px;
					width: 100px;
				}
				
				#username_container {
					margin-right: 10px;
				}

				#password_container {
					
				}

			}	
		}
	}
}





#user_login_container {
	float:left;
}

#logoutgroup form {
	float:left;
}

