@import 'colors';
@import 'layout';

#search_bar_results {
	//display: none;
	position:absolute;
	overflow: hidden;
	width: 100%;
	//top: 50px;
	width: $search_bar_width;
	background-color: $header_color;
	border: 1px solid black;
	
	.group {
		border-bottom: 1px solid #000;
		width: $search_bar_width;
		$padding: 5px;
		
		.title {
			padding: 5px;
		}
		a {
			&:hover {
				background-color: #FFF;
			}
			width: $search_bar_width - ($padding * 2);
			float:left;
			//height: 40px;
			font-size: 12px;
			padding: $padding;
		}
	}
}