@import "layout";
@import "colors";

#signup_message {
	//background-color:red;
	margin:0px auto;
	margin-top: 10px;
	padding: 10px;
	
	//height:40px;
	@include box_shadow;
	@include rounded_corners;
	background-color: $notice_color;
	overflow: auto;
	width: 100%; //hack
	width:500px;
	
	&:hover {
		cursor: pointer;
	}
	
	.message_body {
		float:left;
		width: 415px;
		.site_name {
			float: left;
		}
	}
	
	.signup_button_container {
		float: right;
		width: 75px;
		margin: 0px auto;
		padding-top: 10px;
		.signup_button {
			padding: 5px;
			//margin-top: 10px;
			background-color: #FFFFFF;
			@include box_shadow;
			@include rounded_corners;
			
		}
	}
}

