@import 'colors';
@import 'layout';

#user_profile {
	
	
	
	#user_profile_info_container {
		margin: 0px auto;
		margin-top:10px;
		width: $user_profile_width;
		@include box_shadow;
		background-color: $event_background_color;
		padding: 7px;
		margin-left: 3px;
		float:left;
		margin-bottom: 10px;
		float: left;
		
		.profile_image {
			width: 213px;
			height: 213px;
			background-color: #FFFFFF;
			float:left;
			
			img {
				@include rounded_corners;
			}
		}
		
		.profile_content {
			background-color: #FFFFFF;
			float: left;
			width: 580px;
			margin-left: 8px;
			padding: 10px;
			@include rounded_corners;
			
			.username {
				float:left;
				//width: $user_profile_info_width - ;
				width: 440px;
				font-size: 18px;
				font-weight:bold;
			}

			.stats {
				float: left;
				padding: 5px;
				border: 1px solid #CCCCCC;
				background-color: #FFFFFF;
				a {
					float: left;
					//background-color: #FFFFFF;
					border-right: 2px solid #000000;
					padding: 4px;
					.count {
						font-size: 20px;
						font-weight: bold;
						color: $event_title_text_color;
					}

					.text {
						font-size: 20px;
						color: lighten($event_title_text_color, 20%);
					}

					&:hover {

					}
				}
		
				.check_ins {
					border-right: none;
				}
			
			}
		}
	}
	
	.events {
		width: 500px;
	}
}

