<div id="place_address_and_map">
	<div class="place_name">
		<%= place.name %>
	</div>
	<%= render :partial => 'places/address', :locals => { :place => place }%>
	<!-- maybe this map shouldn't be part of a place, but for now it is -->
	<%= render :partial => 'places/placemap', :locals => { :place => place} %>
</div>